.link {
  color: var(--lm-c-link);
}

html {
  color: var(--lm-c-text-primary);
}

.lm-text {
  color: var(--lm-c-text-primary);
}

.lm-aggregate-container {
  @apply mx-auto w-full max-w-5xl px-4 sm:px-6 xl:px-0;
}

.lm-aggregate-body {
  @apply min-w-0 max-w-none;
}

.lm-aggregate-body:empty {
  display: none;
}
