@use 'valaxy/client/styles/mixins/index.scss' as *;

// use common code styles, you also can override them or copy/modify them
@use 'valaxy/client/styles/common/code.scss' as *;
@use 'valaxy/client/styles/common/markdown.scss' as *;

@use 'valaxy/client/styles/components/code.scss' as *;
@use 'valaxy/client/styles/components/code-group.scss' as *;
@use 'valaxy/client/styles/components/custom-block.scss' as *;

.markdown-body {
  --c-toc-link: var(--lm-c-text-secondary);
}

html.dark {
  .markdown-body {
    --c-toc-link: var(--lm-c-text-secondary);
  }
}

.markdown-body {
  padding-top: 0.5rem;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--lm-font-family-base);
    font-weight: 900;
  }

  ul {
    li > p {
      margin-bottom: 0;
    }
  }

  blockquote {
    margin: 16px 0;
    border-left: 4px solid var(--lm-c-divider);
    padding-left: 12px;
    transition: border-color 0.5s;

    p {
      margin: 0;
      font-size: 16px;
      color: var(--lm-c-text-secondary);
      transition: color 0.5s;
    }
  }

  code:not(pre > code) {
    color: var(--lm-c-brand-strong);
    background-color: rgba(102, 204, 255, 0.16);
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.85em;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}
